section.hero
	section.hero__top
		.hero__container.container
			.hero__row.row
				.hero__col.col.col-8
					h1.hero__h Федеральная система выбора, бронирования и ипотечного кредитования квартир в новостройках
				.hero__col.col.col-4
					.hero__counter.box-right
						.hero__counter-numbers#counter 124
						.hero__counter-text Человека сейчас подбирают квартиру с помощью роботизированного подбора
						.hero__counter-link 
							a(href="#") Начать подбор квартиры
	section.hero__blocks
		.hero__container.container
			.hero__row.row
				.hero__col.col.col-12
					.hero__blocks-wrapper
						.hero__row.row
							.hero__col.col.col-4
								.hero__blocks-item.flex__row
									.hero__icon.hero__icon_robots.flex__element
									.hero__icon-text.flex-element Роботизированный подбор
							.hero__col.col.col-4
								.hero__blocks-item.flex__row
									.hero__icon.hero__icon_single.flex__element
									.hero__icon-text.flex-element Единая онлайн система
							.hero__col.col.col-4
								.hero__blocks-item.flex__row
									.hero__icon.hero__icon_instruments.flex__element
									.hero__icon-text.flex-element Все инструменты для покупки
					