.footer
	padding: 105px 0 23px 0
	@media only screen and (max-width: 768px)
		padding-bottom: 80px
	&__nav
		margin-bottom: 39px
	&__menu
		column-count: 3
		column-gap: 40px
		column-width: 96px;
		height: 96px
		@media only screen and (max-width: 768px)
			column-count: 2
			column-gap: 40px
			height: 140px
	&__menu-item 
		font-size: 12px
		margin-bottom: 10px
		a
			color: #000
			text-decoration: none
			&:hover, &:active
				color: #ce3a11
	&__rights
		margin-bottom: 39px
		p
			font-size: 12px
			line-height: 1.66em
	&__copyright-text
		font-size: 12px
		line-height: 24px
		color: #9b9b9b
		@media only screen and (max-width: 768px)
			line-height: 1.22em
			text-align: center
			margin-bottom: 20px
	&__social-icons
		@media only screen and (max-width: 768px)
			text-align: center
	&__social-icon
		width: 24px
		height: 24px
		margin-right: 8px
		display: inline-block
		cursor: pointer 
		opacity: 1
		&:last-child
			margin-right: 0
		&:hover, &:active
			opacity: 0.75
		&_youtube
			background: #cc181e url(../img/icon-youtube.svg) center center no-repeat
		&_vk
			background: #507299 url(../img/icon-vk.svg) center center no-repeat
		&_fb
			background: #365899 url(../img/icon-fb.svg) center center no-repeat