section.partners
	.partners__line.flex__row
		a.partners__item.flex__element(href="#")
			img.partners__img(src="img/polis.png" srcset="img/polis@2x.png 2x, img/polis@3x.png 3x" alt="Полис")
		a.partners__item.flex__element(href="#")
			img.partners__img(src="img/pik.png" srcset="img/pik@2x.png 2x, img/pik@3x.png 3x" alt="Пик")
		a.partners__item.flex__element(href="#")
			img.partners__img(src="img/lsr.png" srcset="img/lsr@2x.png 2x, img/lsr@3x.png 3x" alt="ЛСР")
		a.partners__item.flex__element(href="#")
			img.partners__img(src="img/setl.png" srcset="img/setl@2x.png 2x, img/setl@3x.png 3x" alt="Setl")
		a.partners__item.flex__element(href="#")
			img.partners__img(src="img/cds.png" srcset="img/cds@2x.png 2x, img/cds@3x.png 3x" alt="ЦДС")
		a.partners__item.flex__element(href="#")
			img.partners__img(src="img/lider.png" srcset="img/lider@2x.png 2x, img/lider@3x.png 3x" alt="Лидер")
		a.partners__item.flex__element(href="#")
			img.partners__img(src="img/glavstroy.png" srcset="img/glavstroy@2x.png 2x, img/glavstroy@3x.png 3x" alt="Главстрой")
		a.partners__item.flex__element(href="#")
			img.partners__img(src="img/fsk.png" srcset="img/fsk@2x.png 2x, img/fsk@3x.png 3x" alt="ФСК")
		a.partners__item.flex__element(href="#")
			img.partners__img(src="img/polis.png" srcset="img/polis@2x.png 2x, img/polis@3x.png 3x" alt="Полис")
		a.partners__item.flex__element(href="#")
			img.partners__img(src="img/pik.png" srcset="img/pik@2x.png 2x, img/pik@3x.png 3x" alt="Пик")