section.about
	.about__container.container
		.about__row.row
			.about__col.col.col-6.col-offset-6
				.about__wrapper
					h2.about__h Полная база данных новостроек России
					ul.about__list
						li.about__list-item Все ЖК и квартиры города и области
						li.about__list-item Более 170 параметров каждого ЖК
						li.about__list-item Более 20 параметров каждой квартиры
						li.about__list-item Плюсы и минусы каждого ЖК
						li.about__list-item Цены и наличие от застройщиков
						li.about__list-item Акции и скидки от застройщиков
						li.about__list-item Данные о качесте строительства
						li.about__list-item Аэропанорамы
						li.about__list-item 900+ обзоров и статей
						li.about__list-item Ипотечные программы всех банков