.about
	&__row
		background: url(../img/map.png) center center no-repeat
		background-size: contain
		@media only screen and (max-width: 768px)
			background: none
	&__wrapper
		padding: 120px 0 90px 0
		@media only screen and (max-width: 768px)
			padding: 60px 0
	&__h
		font-size: 50px
		color: #000
		line-height: 1.22em
		margin-bottom: 48px
		@media only screen and (max-width: 1280px)
			font-size: 40px
		@media only screen and (max-width: 768px)
			font-size: 32px
	&__list
		list-style: disc outside
		column-count: 2
		column-gap: 38px
		height: 240px
		margin-left: 24px
		@media only screen and (max-width: 768px)
			column-count: 1
			height: auto
	&__list-item
		font-size: 14px
		line-height: 1.22em
		margin-bottom: 20px