doctype html
html(lang='ru') 
	head
		meta(charset = 'utf-8')
		meta(name='viewport', content="initial-scale=1.0, width=device-width")
		meta(name='description', content="Купить квартиру в Санкт-Петербурге с умным поиском жилья на портале Living.ru")
		link(href='css/main.min.css', rel='stylesheet')
		title Купить квартиру в Санкт-Петербурге с умным поиском жилья на портале Living.ru
	body
		include header/header.pug
		include hero/hero.pug
		include about/about.pug
		include partners/partners.pug
		include footer/footer.pug
		script(src='js/main.min.js')